<div>
    <md-content>
        <md-list>
            <md-item ng-repeat="item in alarms">
                <md-item-content>
                    <div class="md-tile-left">
                        <img ng-src="{{item.face}}" class="alarm_item_face" alt="{{item.who}}">
                    </div>
                    <div class="md-tile-content">
                        <h3>{{item.what}}</h3>
                        <h4>{{item.who}}</h4>
                        <p>{{item.notes}}</p>
                        <md-switch ng-model="item.enabled" aria-label="Switch">
                            Alarm: {{ item.enabled }}
                        </md-switch>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
</div>